<div id="outer-wrapper">
    <div id="sidebar">
        <div class="semifluid-layout">
            <div class="btn-rwd-menu">
                <i class="fa fa-bars"></i>
            </div>
            <div class="sidebar-logo2">
                <h3>{{ 'mainView.title' | translate }}</h3>
            </div>
            <nav class="sidebar-navigation">
                <ul>
                    <li class="active">
                        <a href="" ui-sref="mainView.List">
                            <i class="fa fa-users"></i>
                            <span>Lista</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="mainView.Details">
                            <i class="fa fa-database"></i>
                            <span>Details</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="mainView.Create">
                            <i class="fa fa-cogs"></i>
                            <span>Użytkownicy systemu</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="mainView.attemptList">
                            <i class="fa fa-cogs"></i>
                            <span>Próby</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-copyrights">
                {{ 'mainView.copyright' | translate }}
            </div>
        </div>
    </div>


	<div class="pages navbar-through toolbar-through">


                 <ui-view></ui-view>

               <!-- <main-page data-page="index" class="page"></main-page> -->

	</div>

</div>