<div id="outer-wrapper">
    <div id="sidebar">
        <div class="semifluid-layout">
            <div class="btn-rwd-menu">
                <i class="fa fa-bars"></i>
            </div>
            <div class="sidebar-logo2 text-center">
                <h3>{{ 'mainView.title' | translate }}</h3>
            </div>
            <nav class="sidebar-navigation">
                <ul>
                    <li class="active">
                        <a href="" ui-sref="mainView.List">
                            <i class="fa fa-users"></i>
                            <span>{{ 'mainView.users' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="mainView.attemptList">
                            <i class="fa fa-cogs"></i>
                            <span>{{ 'mainView.attempts' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="mainView.dashboard">
                            <i class="fa fa-cogs"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="mainView.meetingDate">
                            <i class="fa fa-cogs"></i>
                            <span>Spotkania kapituły</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="logout()" title="">
                            <i class="fa fa-sign-out"></i>
                            <span>{{ 'mainView.logout' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-copyrights">
                {{ 'mainView.copyright' | translate }}
            </div>
        </div>
    </div>
    <div class="pages navbar-through toolbar-through">
        <ui-view></ui-view>
        <!-- <main-page data-page="index" class="page"></main-page> -->
    </div>
</div>