    <div class="col-xs-12">
        <div class="flat-panel">
            <div class="flat-panel-header">
                <h3 class="flat-panel-heading">
                    {{ 'meetingDate.title' | translate }}
                    <span ng-show="alertUpdateUser" type="button" class="deleteUserButton label label-success pull-right">{{ 'scoutsDetails.updateScout' | translate }}</span>
                </h3>
            </div>

            <br />

<div class="col-md-8">
	<table class="no-border table table-striped table-hover">
		<thead class="text-center">
			<th>{{ 'meetingDate.date' | translate }}</th>
			<th>{{ 'meetingDate.place' | translate }}</th>
			<th>{{ 'meetingDate.description' | translate }}</th>
		</thead>
		<tbody>
			<tr ng-repeat="row in meetingData | orderBy : '-date'" >
				<td>{{ row.date | date:"dd MMMM yyyy" }}</td>
				<td>{{ row.place }}</td>
				<td>{{ row.description }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-md-4">
	<h5 class="text-center"><strong>{{ 'meetingDate.submit' | translate }}</strong></h5>
	<form novalidate class="css-form" name="formData">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
	                            <div class="form-group">
	                                        <input id="date" type="date" ng-model="formData.date" class="form-control" placeholder="{{ 'meetingDate.date' | translate }}" required>
	                            </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                             <div class="form-group">
                                        <input id="name" type="text" ng-model="formData.place" class="form-control" placeholder="{{ 'meetingDate.place' | translate }}" required>
                            </div>
		</div>

                            <div class="col-xs-12 col-md-12">
                             <div class="form-group">
	                            <textarea ng-model="formData.description" class="form-control" id="description" rows="5" placeholder="{{ 'meetingDate.description' | translate }}"></textarea>
                            </div>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <input ng-click="createMeeting(formData)" type="submit" value="{{ 'meetingDate.submit' | translate }}" class="btn btn-success alignright" />
                            </div>

                    </form>
                    </div>
                </div>
</div>

</div>
</div>
            <!-- <div class="flat-panel-body">
                <div class="form-horizontal">
                    <form novalidate class="css-form" name="formData">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.name' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="name" type="text" ng-model="formData.name" class="form-control" placeholder="Podaj imię" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.surname' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="surname" type="text" ng-model="formData.surname" class="form-control" placeholder="Podaj nazwisko" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.phone' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="phone" type="phone" ng-model="formData.phone" class="form-control" placeholder="Wpisz numer telefonu" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.email' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="email" type="email" ng-model="formData.email" class="form-control" placeholder="Wpisz e-mail" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-address" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.address' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="address" type="text" ng-model="formData.address" class="form-control" placeholder="Podaj adress" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-school" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.school' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="school" type="text" ng-model="formData.school" class="form-control" value="" placeholder="Nazwa szkoły" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-rank" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.rank' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <select name="rank" id="rank" class="form-control" ng-model="formData.rank">
                                            <option value="Brak">brak</option>
                                            <option value="Młodzik">Młodzik</option>
                                            <option value="Wywiadowca">Wywiadowca</option>
                                            <option value="Ćwik">Ćwik</option>
                                            <option value="Harcerz Orli">Harcerz Orli</option>
                                            <option value="Harcerz Rzeczypospolitej">Harcerz Rzeczypospolitej</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-rank" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.rankInst' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <select name="rank" id="rank" class="form-control" ng-model="formData.rankInst">
                                            <option value="Brak">Brak</option>
                                            <option value="Przewodnik">Przewodnik</option>
                                            <option value="Podharcmistrz">Podharcmistrz</option>
                                            <option value="Harcmistrz">Harcmistrz</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-school" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.birthday' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="birthday" type="text" ng-model="formData.birthday" class="form-control" placeholder="Data urodzenia" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-team" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.team' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="team" type="text" class="form-control" ng-model="formData.team" placeholder="Nazwa drużyny" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-team" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.role' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <select name="role" id="role" class="form-control" ng-model="formData.role">
                                            <option value="Administrator">Administrator</option>
                                            <option value="Członek kapituły">Członek kapituły</option>
                                            <option value="Petent">Petent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="filter-company-team" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.password' | translate }} </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="password" type="password" class="form-control" ng-model="formData.password" placeholder="{{ 'createScout.password' | translate }}" required>
                                    </div>
                                </div>
                            </div> --
                            <div class="col-xs-12 col-md-12">
                                <input ng-click="updateScout(formData)" type="submit" value="{{ 'scoutsDetails.submit' | translate }}" class="btn btn-success alignright" />
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- /content -->
</div>
</div>