<div class="col-xs-12">
    <div class="flat-panel">
        <div class="flat-panel-header">
            <h3 class="flat-panel-heading">
                {{ 'meetingDate.title' | translate }}
                <span ng-show="meetingViewVM.updated" type="button" class="deleteUserButton label label-success pull-right">{{ 'meetingDate.update' | translate }}</span>
            </h3>
            <span type="button" ng-show="meetingViewVM.role == 'Administrator'" ng-click="meetingViewVM.addMeetingToogle = !meetingViewVM.addMeetingToogle" class="deleteUserButton btn btn-default"><i class="fa fa-plus"></i> {{ 'meetingDate.addMeeting' | translate }}</span>
            <span type="button" ng-show="meetingViewVM.role == 'Petent'" ng-click="meetingViewVM.reportToogle = !meetingViewVM.reportToogle" class="deleteUserButton btn btn-default"><i class="fa fa-plus"></i> {{ 'meetingDate.report' | translate }}</span>
            <span type="button" ng-show="meetingViewVM.role == 'Administrator' || role == 'Członek kapituły'" ng-click="meetingViewVM.confirmPresentToogle = !meetingViewVM.confirmPresentToogle" class="deleteUserButton btn btn-default"><i class="fa fa-plus"></i> {{ 'meetingDate.confirmPresent' | translate }}</span>
        </div>
        <br />
        <section class="well" ng-show="meetingViewVM.addMeetingToogle">
            <h5 class="text-center">
                <strong>{{ 'meetingDate.submit' | translate }}</strong>
            </h5>
            <form novalidate class="css-form" name="meetingViewVM.formData">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <input id="date" type="text" data-provide="datepicker" ng-model="formData.date" class="form-control" placeholder="{{ 'meetingDate.date' | translate }}" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <input id="name" type="text" ng-model="formData.place" class="form-control" placeholder="{{ 'meetingDate.place' | translate }}" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <textarea ng-model="formData.description" class="form-control" id="description" rows="5" placeholder="{{ 'meetingDate.description' | translate }}"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <input ng-click="meetingViewVM.createMeeting(formData)" type="submit" value="{{ 'meetingDate.submit' | translate }}" class="btn btn-success alignright" />
                    </div>
            </form>
        </section>
        <section class="well" ng-show="meetingViewVM.reportToogle">
            <h5 class="text-center">
                <strong>{{ 'meetingDate.reportSubmit' | translate }}</strong>
            </h5>
            <form novalidate class="css-form" name="formDataReport">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="meetingViewVM.formDataConfirmPresent.nameAndSurname" required disabled>
                            <input type="hidden" class="form-control" ng-model="meetingViewVM.formDataConfirmPresent.userId" required disabled>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <select ng-model="formDataReport.meetingId" class="form-control" placeholder="dasD" required>
                                <option value="" disabled selected>{{ 'meetingDate.chooseDate' | translate }} </option>
                                <option ng-repeat="row in meetingViewVM.meetingData" value="{{ row._id }}">{{ row.place }} - {{ row.date | date : "dd MMMM yy" }} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <select ng-model="formDataReport.goal" class="form-control" required>
                                <option value="" disabled selected>{{ 'meetingDate.goal' | translate }} </option>
                                <option value="{{ 'meetingDate.starAttempt' | translate }}">{{ 'meetingDate.starAttempt' | translate }}</option>
                                <option value="{{ 'meetingDate.halfAttempt' | translate }}">{{ 'meetingDate.halfAttempt' | translate }}</option>
                                <option value="{{ 'meetingDate.endAttempt' | translate }}">{{ 'meetingDate.endAttempt' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <textarea ng-model="formDataReport.description" class="form-control" id="description" rows="5" placeholder="{{ 'meetingDate.descriptionReport' | translate }}"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <input ng-click="meetingViewVM.report(formDataReport)" type="submit" value="{{ 'meetingDate.reportSubmit' | translate }}" class="btn btn-success alignright" />
                    </div>
            </form>
        </section>
        <section class="well" ng-show="meetingViewVM.confirmPresentToogle">
            <h5 class="text-center">
                <strong>{{ 'meetingDate.confirmPresent' | translate }}</strong>
            </h5>
            <form novalidate class="css-form" name="meetingViewVM.formDataConfirmPresent">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="meetingViewVM.formDataConfirmPresent.nameAndSurname" required disabled>
                            <input type="hidden" class="form-control" ng-model="meetingViewVM.formDataConfirmPresent.userId" required disabled>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <select ng-model="meetingViewVM.formDataConfirmPresent.meetingId" class="form-control" placeholder="dasD" required>
                                <option value="" disabled selected>{{ 'meetingDate.chooseDate' | translate }} </option>
                                <option ng-repeat="row in meetingViewVM.meetingData" value="{{ row._id }}">{{ row.place }} - {{ row.date | date : "dd MMMM yy" }} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <input ng-click="meetingViewVM.confirmPresent(meetingViewVM.formDataConfirmPresent)" type="submit" value="{{ 'meetingDate.confirmPresent' | translate }}" class="btn btn-success alignright" />
                    </div>
            </form>
        </section>
        <section class="well" ng-repeat="row in meetingViewVM.meetingData" ng-if="row._id == meetingViewVM.meetingDataDetailsId">
            <div class="row">
                <div class="col-lg-12">
                    <h5 style="padding-bottom: 10px;">
                        <strong>{{ 'meetingDate.meetingDetailsTitle' | translate }}</strong>
                    </h5>
                </div>
                <div class="col-lg-4">
                    <p>
                        <strong>{{ 'meetingDate.date' | translate }}: </strong>{{ row.date | date:"dd MMMM yyyy" }}</p>
                    <p>
                        <strong>{{ 'meetingDate.place' | translate }}: </strong>{{ row.place }}</p>
                    <p>
                        <strong>{{ 'meetingDate.description' | translate }}: </strong>{{ row.description }}</p>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-5">
                        <strong>{{ 'meetingDate.candidatesDetails' | translate }}: </strong>
                    </div>
                    <div class="col-lg-7">
                        <p ng-repeat="candidates in row.candidates">{{ candidates.nameAndSurname }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-5">
                        <strong>{{ 'meetingDate.member' | translate }}: </strong>
                    </div>
                    <div class="col-lg-7">
                        <p ng-repeat="member in row.member">{{ member.nameAndSurname }}</p>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <br />
        <table class="no-border table table-striped table-hover">
            <thead class="text-center">
                <th>{{ 'meetingDate.date' | translate }}</th>
                <th>{{ 'meetingDate.place' | translate }}</th>
                <th>{{ 'meetingDate.description' | translate }}</th>
                <th class="text-center">{{ 'meetingDate.candidates' | translate }}</th>
                <th class="text-center">{{ 'meetingDate.memberCount' | translate }}</th>
                <th class="text-center">{{ 'meetingDate.options' | translate }}</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in meetingViewVM.meetingData | orderBy : '-date'">
                    <td>{{ row.date | date:"dd MMMM yyyy" }}</td>
                    <td>{{ row.place }}</td>
                    <td>{{ row.description }}</td>
                    <td class="text-center">{{row.candidates.length}}</td>
                    <td class="text-center">{{row.member.length}}</td>
                    <td class="text-center">
                        <a ng-click="meetingViewVM.showDetails(row._id)" class="label label-default"><i class="fa fa-eye"></i></a>
                        <a ng-show="meetingViewVM.role == 'Administrator'" class="label label-danger" ng-click="meetingViewVM.deleteMeeting(row._id)"><i class="fa fa-trash-o"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
    </div>
</div>
</div>