<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }

  .css-form input.ng-valid.ng-touched {
    	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
</style>

<!-- content -->
        <div class="row">
            <div class="col-xs-12">
                <div class="flat-panel">
                    <div class="flat-panel-header">
                        <h4 class="fjlat-panel-heading"> </h4>
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="flat-panel">
                    <div class="flat-panel-header">
                        <h3 class="flat-panel-heading">
                            {{ 'attemptCreate.title' | translate }}

                           <span ng-show="invalidForm" type="button" class="deleteUserButton label label-danger pull-right">{{ 'createScout.invalidForm' | translate }}</span>
                        </h3>
                    </div>
                    <br />

	                    <div class="flat-panel-body">
	                        <div class="form-horizontal">

	                        <form novalidate class="css-form" name="attemptData">
	                            <div class="row">
	                                <div class="col-xs-12 col-md-6">
	                                    <div class="form-group">
	                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'attemptCreate.nameAndSurname' | translate }} </label>
	                                        <div class="col-sm-9 col-xs-12">
	                                        	<select class="form-control"  id="nameAndSurname" ng-model="attemptData.nameAndSurname">
	                                        		<option value="" disabled selected>{{ 'attemptCreate.selectPerson' | translate }}</option>
	                                        		<option ng-repeat="user in formData" value="{{ user._id }}">{{ user.name }} {{ user.surname }} - {{ user.team }}</option>
	                                        	</select>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="col-xs-12 col-md-6">
	                                    <div class="form-group">
	                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'attemptCreate.quide' | translate }} </label>
	                                        <div class="col-sm-9 col-xs-12">
	                                            <select class="form-control" id="quide" ng-model="attemptData.quide">
	                                            		<option value="" disabled selected>{{ 'attemptCreate.selectPerson' | translate }}</option>
	                                        		<option ng-repeat="user in formData" value="{{ user._id }}">{{ user.name }} {{ user.surname }} </option>
	                                        	</select>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="col-xs-12 col-md-6">
	                                    <div class="form-group">
	                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'attemptCreate.dateBegin' | translate }} </label>
	                                        <div class="col-sm-9 col-xs-12">
	                                            <input id="dataBegin" type="date" ng-model="attemptData.dateBegin" class="form-control" placeholder="Format: RRRR-MM-DD" required>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="col-xs-12 col-md-6">
	                                    <div class="form-group">
	                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'attemptCreate.dateEnd' | translate }} </label>
	                                        <div class="col-sm-9 col-xs-12">
	                                            <input id="dataEnd" type="date" ng-model="attemptData.dateEnd" class="form-control" placeholder="Format: RRRR-MM-DD" required>
	                                        </div>
	                                    </div>
	                                </div>

	                                <div class="col-xs-12 col-md-12 ">
	                                        <input
	                                        	ng-click="createAttempt(attemptData)"
	                                        	type="submit"
	                                        	value="{{ 'attemptCreate.submit' | translate }}"
	                                        	class="btn btn-success alignright" />
	                                    </div>
			</form>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /content -->
    </div>
</div>

