<!-- content -->
<div class="col-xs-12">
    <div class="flat-panel">
        <div class="flat-panel-header">
            <h3 class="flat-panel-heading">
                {{ 'attemptCreate.title' | translate }}
                <span ng-show="invalidForm" type="button" class="deleteUserButton label label-danger pull-right">{{ 'createScout.invalidForm' | translate }}</span>
            </h3>
        </div>
        <br />
        <div class="flat-panel-body">
            <div class="form-horizontal">
                <form novalidate class="css-form" name="attemptData">
                    <!-- directives attemptForm -->
                    <attempt-form></attempt-form>
                    <div class="col-xs-12 col-md-12 ">
                        <input ng-click="createAttempt(attemptData)" type="submit" value="{{ 'attemptCreate.submit' | translate }}" class="btn btn-success alignright" style="margin-top: 30px;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /content -->
</div>
</div>