<!-- content -->
        <div class="row">
            <div class="col-xs-12">
                <div class="flat-panel">
                    <div class="flat-panel-header">
                        <h4 class="fjlat-panel-heading"> </h4>
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="flat-panel">
                    <div class="flat-panel-header">
                        <h3 class="flat-panel-heading">
                            {{ 'createScout.createScoutTitle' | translate }}
                            <a href="#" class="label label-success pull-right" title="Dodaj nowego klienta"><i class="glyphicon glyphicon-plus"></i></a>
                        </h3>
                    </div>
                    <br />
                    <div class="flat-panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.name' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="name" type="text" ng-model="formData.name" class="form-control" placeholder="Podaj imię">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.surname' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="surname" type="text" ng-model="formData.surname" class="form-control" placeholder="Podaj nazwisko">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.phone' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="phone" type="phone" ng-model="formData.phone"  class="form-control" placeholder="Wpisz numer telefonu">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-name" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.email' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="email" type="email" ng-model="formData.email" class="form-control" placeholder="Wpisz e-mail">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-address" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.address' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="address" type="text" ng-model="formData.address" class="form-control" placeholder="Podaj adress">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-school" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.school' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="school" type="text" ng-model="formData.school" class="form-control" placeholder="Nazwa szkoły">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-rank" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.rank' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                        <select name="rank" id="rank" class="form-control" ng-model="formData.rank" >
                                        	<option value="mlodzik">Młodzik</option>
                                        	<option value="wywiadowca">Wywiadowca</option>
                                        	<option value="cwik">Ćwik</option>
                                        	<option value="harcerzorli">Harcerz Orli</option>
                                        	<option value="harcerzrzeczypospolitej">Harcerz Rzeczypospolitej</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-rank" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.rankInst' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                        <select name="rank" id="rank" class="form-control" ng-model="formData.rankInst" >
                                        	<option value="przewodnik">Przewodnik</option>
                                        	<option value="podharcmistrz">Podharcmistrz</option>
                                        	<option value="harcmistrz">Harcmistrz</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-school" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.birthday' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="birthday" type="text" ng-model="formData.birthday" class="form-control" placeholder="Data urodzenia">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="filter-company-team" class="col-sm-3 col-xs-12 control-label">{{ 'createScout.team' | translate }} </label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input id="team" type="text" class="form-control" ng-model="formData.team" placeholder="Nazwa drużyny">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-offset-9 col-md-3">
                                    <div class="form-group">
                                        <input ng-click="createScout()" class="btn btn-success" type="submit" value="{{ 'createScout.submit' | translate }}">
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /content -->
    </div>
</div>

<!-- phone
email
address
school
rank
birthday
date_add
team
photo -->